body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
}

.logo{
    width: 48px;
    padding: 0 15px;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    background-image: linear-gradient(180deg,#85d16a 0,#64bb46);
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px rgb(100, 100, 100, 0.8);
}

.nav-list a{
    position: relative;
}

.nav-item::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #39b54a;
    height: 65px;
    width: 100%;
    opacity: 0.5;
    transition: transform 0.4s;
    transform: scaleY(0);
    transform-origin: top;
}

.nav-item:hover::before{
    transform: scaleY(1);
}

.contact-logo{
    position: relative;
    padding: 4px 24px;
}

.fb-logo{
    color: white;
    font-size: 24px;
}

.fb-logo::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #39b54a;
    height: 65px;
    width: 100%;
    opacity: 0.5;
    transition: transform 0.4s;
    transform: scaleY(0);
    transform-origin: top;
}

.fb-logo:hover::before{
    transform: scaleY(1.15);
}

.fb-logo:hover{
    color: white;
}

.menu-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1140px;
}

.menu-bar ul{
    margin: 0;
    padding-left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.menu-bar ul li{
    display: flex;
    align-items: center;
    height: 57px;
}

.menu-bar ul a{
    padding: 4px 24px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.white-bar{
    background-color: white;
}

.white-bar li{
    color: #32a852;
}

.fb-logo a{
    color: white;
    padding: 4px 24px;
}

.fb-logo a:hover{
    background-color: #488630;
}

.main{
    max-width: 1140px;
    margin: auto;
}

.main-container1{
    display: flex;
}

.login{
    border: 1px solid #e8e8e8;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 0 15px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background-color: #e8e8e8;
}

.form{
    max-width: 100%;
    padding: 18px;
}

.form-group{
    margin-bottom: 15px;
}

p{
    margin-bottom: 0;
}

.username{
    font-size: 15px;
    margin-top: 0;

    margin-bottom: 5px;
}

.pass{
    margin-top: 0;
    font-size: 15px;
    margin-bottom: 5px;
}

.login-btn{
    color: white;
    background-color: #39b54a;
    border: none;
    width: 85px;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;
}

input{
    padding: 6px;
    height: 34px;
    width: 100%;
    box-sizing: border-box;
}

.forgot-pass{
    margin-left: 15px;
    color: #39b54a;
    font-size: 13px;
    text-decoration: none;
}

.forgot-pass:hover{
    text-decoration: underline;
}

.signup{
    color: #39b54a;
    cursor: pointer;
}

.signup:hover{
    text-decoration: underline;
}

.desc{
    font-size: 12px;
}

.img-container{
    position: relative;
}

.img-box{
    width: 750px;
}

.img-box img{
    width: 100%;
    margin: 0 15px;
}

.left-btn{
    position: absolute;
    top: 550px;
    left: 0;
    font-size: 45px;
    color: white;
    background-color: #ffffff00;
    border: none;
    width: 85px;
    cursor: pointer;
}
.left-btn:focus{
    outline: none;
}
.right-btn{
    position: absolute;
    top: 550px;
    right: 0;
    font-size: 45px;
    color: white;
    background-color: #ffffff00;
    border: none;
    width: 85px;
    cursor: pointer;
}
.right-btn:focus{
    outline: none;
}
.map-img{
    margin-right: 15px;
    cursor: grab;
}
.brand_list{
    margin-left: 15px;
    border: 2px solid #39b54a;
    width: 364px;
    max-height: 635px;
    border-radius: 5px;
    margin: 0 15px;
}
.all_logo{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #39b54a;
    height: 90px;
}
.all_logo img{
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar{
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    padding: 8px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #e8e8e8;
}

.search-bar:focus{
    outline: none;
}

.branch-data-container{
    box-sizing: border-box;
    max-height: 505px;
    overflow: auto;
}

.branch-name{
    font-size: 15px;
    font-weight: 500;
}

.branch-contact{
    font-size: 14px;
}

.branch-data{
    padding: 8px 16px;
    border-bottom: 2px solid #e8e8e8;
    cursor: pointer;
}

.branch-btn{
    margin-top: 5px;
    color: white;
    background-color: #39b54a;
    border: none;
    padding: 6px 12px;
    font-size: 14px;
    border-radius: 5px;
    height: 34px;
    cursor: pointer;
}
.branch-btn i{
    padding-right: 5px;
}

.promotion{
    text-align: center;
    font-weight: 500;
}

.sub-box{
    display: flex;
    padding-top: 10px ;
    border-bottom: 2px solid rgb(199, 199, 199);
    cursor: pointer;
}

.sub-box:hover{
    background-color: rgb(230, 230, 230);
}

.sub-img{
    max-width: 250px;
}

.sub-box img{
    width: 100%;
    padding-right: 10px;
    margin-bottom: 10px;
}

.content{
    padding-left: 10px;
    font-size: 15px;
}

.italic{
    font-weight: 500;
}

footer{
    background-color: #f0f2f0;
    margin-top: 50px;
    color: #5c665f;
}

.extra{
    margin: auto;
    max-width: 1170px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.extra p{
    font-size: 20px;
    font-weight: 500;
}

.extra-menu1{
    width: 33%;
}
.extra-menu1 ul{
    padding-left: 0;
    list-style: none;
}

.extra-menu1 ul li{
    padding: 8px;
    border-bottom: 1px solid #5c665f;
}

.extra-menu1 a{
    color: #5c665f;
    text-decoration: none;
    font-size: 18px;
}

.extra-menu1 ul li:hover{
    background-color: #d6dada;
}

.extra-menu2{
    width: 33%;
}

.extra-menu2 ul{
    padding-left: 0;
    list-style: none;
    font-size: 15px;
}

.extra-menu2 li{
    margin: 20px 0;
}

.extra-menu1 i,.extra-menu2 i{
    padding-right: 10px;
}

.mail{
    color: #39b54a;
    text-decoration: none;
    font-weight: 500;
}

.mail:hover{
    text-decoration: underline;
}

.extra-menu3{
    width: 33%;
}

.footer-contact{
    position: relative;
    width: 360px;
}

.pic_footer{
    position: relative;
    height: 130px;
    margin-top: 25px;
}

.pic_footer img{
    width: 360px;
    height: 130px;
}

.button1{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    left: 8px;
    z-index: 1;
}

.button2{
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right : 8px;
    z-index: 1;
}

.pic-footericon{
    width: 15px;
}

.hotpot{
    width: 60px;
    position: absolute;
    top: 9px;
    left : 8px;
    z-index: 1;
}

.text1{
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    position: absolute;
    top: 9px;
    left: 80px;
}

.text2{
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    top: 30px;
    left: 80px;
}

.correct{
    width: 20px;
    position: absolute;
    top: 11px;
    left: 215px;
}

.copyright{
    color: #5c665f;
    margin: auto;
    padding: 24px 0;
    max-width: 1170px;
    font-size: 15px;
}

@media only screen and (max-width: 990px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }

    .menu-bar{
        max-width: 750px;
        font-size: 10px;
    }

    .menu-bar ul a{
        padding: 4px 20px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .main-container1{
        margin: auto;
        max-width: 750px;
        display: flex;
        flex-direction: column;
    }

    .login{
        margin: auto;
        grid-column: 1 / span 1;
        margin-bottom: 20px;
        width: 100%;
    }

    input{
        padding: 6px;
        height: 34px;
        width: 100%;
        box-sizing: border-box;
    }

    .img-container{
        margin: auto;
        grid-column: 1 / span 1;
    }

    .img-box img{
        margin: 0;
    }

    .main-container2{
        max-width: 750px;
        margin: auto;
    }

    .sub-img{
        max-width: 100%;
    }

    .sub-box{
        display: flex;
        flex-direction: column;
        padding-top: 10px ;
        border-bottom: 2px solid rgb(199, 199, 199);
        cursor: pointer;
    }

    .sub-img img{
        width: 100%;
        padding: 0;
    }

    .map-img{
        margin-right: 0;
    }

    .brand_list{
        border: 2px solid #39b54a;
        width: 750px;
        max-height: 635px;
        border-radius: 5px;
        margin: 15px 0;
    }

    .all_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #39b54a;
        height: 90px;
    }

    .all_logo img{
        margin: 0 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    .extra{
        margin: auto;
        max-width: 750px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .extra-menu1{
        width: 100%;
    }
    
    .extra-menu2{
        width: 100%;
    }

    .extra-menu3{
        width: 100%;
    }

    .copyright{
        max-width: 750px;
    }
}

@media only screen and (max-width: 575px){
    .grid-container{
        display: grid;
        grid-template-columns: auto;
    }

    .menu-bar{
        max-width: 500px;
        font-size: 10px;
    }

    .menu-bar ul a{
        padding: 4px 20px;
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .main-container1{
        margin: auto;
        max-width: 500px;
        display: flex;
        flex-direction: column;
    }

    .login{
        margin: auto;
        grid-column: 1 / span 1;
        margin-bottom: 20px;
        width: 100%;
    }

    input{
        padding: 6px;
        height: 34px;
        width: 100%;
        box-sizing: border-box;
    }

    .img-box{
        margin: auto;
        max-width: 500px;
        grid-column: 1 / span 1;
    }

    .img-box img{
        margin: 0;
    }

    .main-container2{
        max-width: 500px;
        margin: auto;
    }

    .sub-img{
        max-width: 100%;
    }

    .sub-box{
        display: flex;
        flex-direction: column;
        padding-top: 10px ;
        border-bottom: 2px solid rgb(199, 199, 199);
        cursor: pointer;
    }

    .sub-img img{
        width: 100%;
        padding: 0;
    }

    .map-img{
        margin-right: 0;
    }

    .map-img img{
        width: 500px;
    }

    .brand_list{
        border: 2px solid #39b54a;
        width: 500px;
        max-height: 635px;
        border-radius: 5px;
        margin: 15px 0;
    }

    .all_logo{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #39b54a;
        height: 90px;
    }

    .all_logo img{
        margin: 0 2px;
        border-radius: 5px;
        cursor: pointer;
    }

    .extra{
        margin: auto;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .extra-menu1{
        width: 100%;
    }
    
    .extra-menu2{
        width: 100%;
    }

    .extra-menu3{
        width: 100%;
    }

    .copyright{
        max-width: 500px;
    }
}